<parent-component>
  <simple-component message="hello"></simple-component>

  <script>
    import SimpleComponent from './simple-component.riot'

    export default {
      components: {
        'simple-component': SimpleComponent
      }
    }
  </script>
</parent-component>