<simple-input>
  <input value={state.val} />
  <input value="static-value" />
  <input type="checkbox" checked={state.checked} />
  <input type="radio" checked={state.checked} />
  <script>
    export default {
      state: {
        val: 'test',
        checked: true
      }
    }
  </script>
</simple-input>
